<section class="commitment">
  <div class="container">
    <ul class="row">
      <li class="col-md-4 col-xs-12">
        <div class="img">
          <img src="https://tamanh.net/wp-content/uploads/2019/07/icon_baohanh.png" alt="">
        </div>
        <div class="title">
          Bảo hành 12 tháng
        </div>
        <div class="desc">
          Với tất cả các sản phẩm được bán tại Đồ Da Tâm Anh
        </div>
      </li>
      <li class="col-md-4 col-xs-12">
        <div class="img">
          <img src="https://tamanh.net/wp-content/uploads/2019/07/icon_free.png" alt="">
        </div>
        <div class="title">
          Miễn phí giao hàng trên Toàn quốc
        </div>
        <div class="desc">
          Với các đơn hàng có tổng giá trị hóa đơn trên 1,000,000vnđ
        </div>
      </li>
      <li class="col-md-4 col-xs-12">
        <div class="img">
          <img src="https://tamanh.net/wp-content/uploads/2019/07/icon_dentien.png" alt="">
        </div>
        <div class="title">
          Đền gấp 10 giá trị đơn hàng
        </div>
        <div class="desc">
          Nếu quý khách phát hiện sản phẩm không phải da thật
        </div>
      </li>
    </ul>
  </div>
</section>