<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/icons/fontawesome/styles.min.css">
  <link rel="stylesheet" href="/icons/icomoon/styles.min.css">
  <link rel="stylesheet" href="/icons/phosphor/styles.min.css">
  <!-- Global stylesheets -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

  <!-- /global stylesheets -->

  <!-- Core JS files -->
  <script src="https://kit.fontawesome.com/f6b816f05e.js" crossorigin="anonymous"></script>
  <script src="/js/jquery/jquery.min.js"></script>
  <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- /core JS files -->

  <!-- Theme JS files -->
  <script src="/js/app.js"></script>
  <script src="/js/slick.js"></script>
  <script defer src="/js/customcart.js"></script>
  <script defer src="/js/custom.js"></script>

  <!-- /theme JS files -->

  <link rel="stylesheet" href="css/custom/style.css">
  <link rel="stylesheet" href="/css/custom/introduce.css">
  <link rel="stylesheet" href="/css/custom/listProduct.css">
  <link rel="stylesheet" href="/css/custom/productDetail.css">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <div class="top_header">
      <div class="container d-flex justify-content-between">
        <div class="logo_header">
          <a href="/" class="logo_h logo_h__img"><img
              src="https://tamanh.net/wp-content/uploads/2018/02/logo-tamanh-02-1.png" alt="Thế Giới Đồ Da Tâm Anh"
              title="Đồ Da Tâm Anh"></a>
        </div>
        <div class="text_hotline">
          <i class="icon-phone2"></i>
          <span>Bán hàng online:</span>
          <a href="tel:19002192">
            <strong>19002192</strong>
          </a>
        </div>
      </div>
    </div>
    <div class="midle_header">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-12">
            <div class="list_product">
              <div class="title_widget">
                <span>Danh mục sản phẩm</span>
              </div>
              <nav class="list_product_menu">
                <ul>
                  <li><a href="../html/listProduct.html">giày da nam</a></li>
                  <li><a href="../html/listProduct.html">Thắt lưng nam</a></li>
                  <li><a href="../html/listProduct.html">Ví da nam</a></li>
                  <li><a href="../html/listProduct.html">Túi xách nam</a></li>
                  <li><a href="../html/listProduct.html">Găng tay da</a></li>
                  <li><a href="../html/listProduct.html">Dây da đồng hồ</a></li>
                  <li><a href="../html/listProduct.html">Phụ kiện đồ da</a></li>
                  <li><a href="../html/listProduct.html">Nhượng quyền thương hiệu</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="menu_desktop">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="../html/introduce.html">Giới thiệu</a></li>
                <li><a href="">Liên hệ</a></li>
                <li><a href="">Blog thời trang</a></li>
                <li><a href="">Tin tức</a></li>
              </ul>
            </div>
            <div class="cart"><i class="icon-cart2"></i><span class="count">0</span></div>
            <div class="search"></div>
            <div class="shopping_cart">
              <div class="bg_shopping_cart"></div>
              <div class="content_shopping_cart">
                <div class="title">
                  <label for="">Giỏ hàng</label>
                  <span>(0 sản phẩm)</span>
                </div>
                <div class="close_shopping_cart">
                  <i class="ph-x"></i>
                </div>
                <div class="content_cart">
                  <div class="list_item">
                    <p> chưa có sản phẩm</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>