<section class="reviews">
  <div class="container">
    <h3 class="review-title"><span>Reviews</span></h3>
    <div class="comment-slider">
      <div class="comment-item">
        <div class="avatar">
          <img src="https://tamanh.net/wp-content/uploads/2023/09/TA-Review-anh-hoang.png" alt="" />
        </div>
        <div class="author">
          Anh Hoàng
        </div>
        <div class="content-comment">
          <strong>Nhân viên văn phòng</strong>
          Đây không phải lần đầu mà Hoàng sử dụng các sản phẩm của Tâm Anh. Đánh giá tổng quan, mình khá hài lòng
          với chất da của nhãn, mang đến trải nghiệm tốt mà giá thành lại vừa túi tiền. Bên cạnh đó, mình cũng đánh
          giá cao thiết kế sản phẩm Tâm Anh, trẻ trung, sang trọng và rất dễ phối đồ.
        </div>
        <div class="date-time">
          <span class="date">2020-11-24 13:34:17</span> - <span class="rating">
            <div class="star-rating"><span style="width: 100%;"></span></div>
          </span>
        </div>
      </div>
      <div class="comment-item">
        <div class="avatar">
          <img src="https://tamanh.net/wp-content/uploads/2023/09/TA-Review-anh-hoang.png" alt="" />
        </div>
        <div class="author">
          Anh Hoàng
        </div>
        <div class="content-comment">
          <strong>Nhân viên văn phòng</strong>
          Đây không phải lần đầu mà Hoàng sử dụng các sản phẩm của Tâm Anh. Đánh giá tổng quan, mình khá hài lòng
          với chất da của nhãn, mang đến trải nghiệm tốt mà giá thành lại vừa túi tiền. Bên cạnh đó, mình cũng đánh
          giá cao thiết kế sản phẩm Tâm Anh, trẻ trung, sang trọng và rất dễ phối đồ.
        </div>
        <div class="date-time">
          <span class="date">2020-11-24 13:34:17</span> - <span class="rating">
            <div class="star-rating"><span style="width: 100%;"></span></div>
          </span>
        </div>
      </div>
      <div class="comment-item">
        <div class="avatar">
          <img src="https://tamanh.net/wp-content/uploads/2023/09/TA-Review-anh-hoang.png" alt="" />
        </div>
        <div class="author">
          Anh Hoàng
        </div>
        <div class="content-comment">
          <strong>Nhân viên văn phòng</strong>
          Đây không phải lần đầu mà Hoàng sử dụng các sản phẩm của Tâm Anh. Đánh giá tổng quan, mình khá hài lòng
          với chất da của nhãn, mang đến trải nghiệm tốt mà giá thành lại vừa túi tiền. Bên cạnh đó, mình cũng đánh
          giá cao thiết kế sản phẩm Tâm Anh, trẻ trung, sang trọng và rất dễ phối đồ.
        </div>
        <div class="date-time">
          <span class="date">2020-11-24 13:34:17</span> - <span class="rating">
            <div class="star-rating"><span style="width: 100%;"></span></div>
          </span>
        </div>
      </div>
      <div class="comment-item">
        <div class="avatar">
          <img src="https://tamanh.net/wp-content/uploads/2023/09/TA-Review-anh-hoang.png" alt="" />
        </div>
        <div class="author">
          Anh Hoàng
        </div>
        <div class="content-comment">
          <strong>Nhân viên văn phòng</strong>
          Đây không phải lần đầu mà Hoàng sử dụng các sản phẩm của Tâm Anh. Đánh giá tổng quan, mình khá hài lòng
          với chất da của nhãn, mang đến trải nghiệm tốt mà giá thành lại vừa túi tiền. Bên cạnh đó, mình cũng đánh
          giá cao thiết kế sản phẩm Tâm Anh, trẻ trung, sang trọng và rất dễ phối đồ.
        </div>
        <div class="date-time">
          <span class="date">2020-11-24 13:34:17</span> - <span class="rating">
            <div class="star-rating"><span style="width: 100%;"></span></div>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>