<%- include('partials/header') %>
<div class="notifications">

</div>

<section class="direct">
  <div class="container">
    <ol class="breakcumb">
      <li><a href="./index.html"><span>Trang chủ</span></a></li>
      <li><a href="./introduce.html"><span>Giới thiệu</span></a></li>
    </ol>
  </div>
</section>

<section class="title-section">
  <div class="container">
    <h1><a href="#">Blog thời trang</a></h1>
  </div>
</section>

<section class="list-item">
  <div class="container">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
      <div class="col">
        <div class="card" style="box-shadow: none; border: none;">
          <img src="https://tamanh.net/wp-content/uploads/2024/07/cach-tay-de-giay-bi-o-vang-1-270x270.jpg" class="card-img-top img-fluid" style="border-radius: 0px;" alt="...">
          <div class="card-body p-0">
            <h5 class="card-title"><a href="#">9 Cách tẩy đế giày bị ố vàng hiệu quả với nguyên liệu dễ kiếm</a></h5>
            <p class="card-text">Bạn đang lo lắng vì những đôi giày yêu thích của mình bị ố vàng mất đi vẻ đẹp? Đừng lo lắng, với những nguyên liệu đơn giản...</p>
            <a href="#" class="btn-see-more">Xem thêm</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="box-shadow: none; border: none;">
          <img src="https://tamanh.net/wp-content/uploads/2024/07/cach-tay-de-giay-bi-o-vang-1-270x270.jpg" class="card-img-top img-fluid" style="border-radius: 0px;" alt="...">
          <div class="card-body p-0">
            <h5 class="card-title"><a href="#">9 Cách tẩy đế giày bị ố vàng hiệu quả với nguyên liệu dễ kiếm</a></h5>
            <p class="card-text">Bạn đang lo lắng vì những đôi giày yêu thích của mình bị ố vàng mất đi vẻ đẹp? Đừng lo lắng, với những nguyên liệu đơn giản...</p>
            <a href="#" class="btn-see-more">Xem thêm</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="box-shadow: none; border: none;">
          <img src="https://tamanh.net/wp-content/uploads/2024/07/cach-tay-de-giay-bi-o-vang-1-270x270.jpg" class="card-img-top img-fluid" style="border-radius: 0px;" alt="...">
          <div class="card-body p-0">
            <h5 class="card-title"><a href="#">9 Cách tẩy đế giày bị ố vàng hiệu quả với nguyên liệu dễ kiếm</a></h5>
            <p class="card-text">Bạn đang lo lắng vì những đôi giày yêu thích của mình bị ố vàng mất đi vẻ đẹp? Đừng lo lắng, với những nguyên liệu đơn giản...</p>
            <a href="#" class="btn-see-more">Xem thêm</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="box-shadow: none; border: none;">
          <img src="https://tamanh.net/wp-content/uploads/2024/07/cach-tay-de-giay-bi-o-vang-1-270x270.jpg" class="card-img-top img-fluid" style="border-radius: 0px;" alt="...">
          <div class="card-body p-0">
            <h5 class="card-title"><a href="#">9 Cách tẩy đế giày bị ố vàng hiệu quả với nguyên liệu dễ kiếm</a></h5>
            <p class="card-text">Bạn đang lo lắng vì những đôi giày yêu thích của mình bị ố vàng mất đi vẻ đẹp? Đừng lo lắng, với những nguyên liệu đơn giản...</p>
            <a href="#" class="btn-see-more">Xem thêm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="pagination">
    <ul>
      <li class="active"><a href="#">1</a></li>
      <li class="" aria-current="page"><a href="#">2</a></li>
      <li class=""><a href="#">3</a></li>
    </ul>
  </div>
</div>

<%- include('partials/reviews') %>

<%- include('partials/commitment') %>

<%- include('partials/footer') %>