<%- include('partials/header') %>

<div class="notifications">

</div>
<section class="direct">
  <div class="container">
    <ol class="breakcumb">
      <li><a href="/"><span>Trang chủ</span></a></li>
      <li><a href="/gioi-thieu"><span>Giới thiệu</span></a></li>
    </ol>
  </div>
</section>
<section class="content-page">
  <div class="container">
    <div class="overview">
      <div class="row justify-content-between">
        <div class="col-md-5 col-xs-12">
          <div class="widget-title">
            <h1><span>Đồ Da Tâm Anh - Thời trang phụ kiện đồ da cao cấp cho nam</span></h1>
          </div>
          <div class="text-widget">
            <ul>
              <li>Đồ da Tâm Anh tiền thân là xưởng sản xuất da được hình thành từ năm 1991 tại khu tập thể thuộc da
                Thái Bình.</li>
              <li>Trải qua nhiều năm xây dựng và phát triển, Công ty Tổng hợp đồ da Tâm Anh đã trở thành cái tên quen
                thuộc, được nhiều người biết đến tại Hà Nội.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <img src="https://tamanh.net/wp-content/uploads/2019/03/img-suutap1-2-min.jpg" alt="" style="max-width: 100%; height: auto;">
        </div>
      </div>
    </div>
    <div class="vision_mission">
      <div class="vision_mission_title">
        Nhiệm vụ tầm nhìn và giá trị
      </div>
      <div class="row justify-content-between mb-2">
        <div class="col-md-6 col-xs-12 ">
          <img src="https://tamanh.net/wp-content/uploads/2018/03/giay-luoi-lookbook-2-1.jpg" alt="" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-md-5 col-xs-12 ">
          <div class="text-content">
            <div class="widget-title">Nhiệm vụ của chúng tôi</div>
            <div class="text-widget">
              <p>
                Với hệ thống website tamanh.net và 9 showroom trên toàn quốc, Đồ Da Tâm Anh
                chuyên cung cấp các mặt hàng thời trang cao cấp cho nam như:<a href=""> Giày</a>, <a href=""> Túi
                  xách</a>, <a href=""> Ví</a>, <a href=""> Dây lưng</a>, <a href=""> Găng tay</a>,<a href=""> Dây da
                  đồng hồ</a> và <a href="">phụ kiện đồ da.</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-between mb-2">
        <div class="col-md-5 col-xs-12 order-2 order-md-1">
          <div class="text-content">
            <div class="widget-title">Tầm nhìn từ chất lượng sản phẩm</div>
            <div class="text-widget">
              <p>
                Các sản phẩm của Đồ Da Tâm Anh đều được làm từ chất liệu da thật 100%, đường chỉ may tinh tế, chắc
                chắn và giá cả hợp lý.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 order-1 order-md-2">
          <img src="https://tamanh.net/wp-content/uploads/2018/03/vi-cam-tay-lookbook-1.jpg" alt="" style="max-width: 100%; height: auto;">
        </div>
      </div>
      <div class="row justify-content-between  mb-2">
        <div class="col-md-6 col-xs-12">
          <img src="https://tamanh.net/wp-content/uploads/2018/03/day-lung-lookbook-1.jpg" alt="" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-md-5 col-xs-12">
          <div class="text-content">
            <div class="widget-title">Giá trị thương hiệu</div>
            <div class="text-widget">
              <p>
                Tâm Anh luôn là nơi cập nhật những xu hướng mới đã và đang khẳng định vị trí của mình với nhiều bạn
                trẻ bởi phong cách thời trang sang trọng, thanh lịch nhưng không thiếu sự năng động và cá tính. Khéo
                léo kết hợp trang phục cùng phụ kiện, bạn dễ dàng mang lại một set đồ hài hòa, thể hiện được cá tính
                riêng của mình.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/reviews') %>

<%- include('partials/commitment') %>

<%- include('partials/footer') %>