<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Global stylesheets -->
  <link rel="stylesheet" href="/icons/fontawesome/styles.min.css">
  <link rel="stylesheet" href="/icons/icomoon/styles.min.css">
  <link rel="stylesheet" href="/icons/phosphor/styles.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <!-- /global stylesheets -->

  <!-- Core JS files -->
  <script src="https://kit.fontawesome.com/f6b816f05e.js" crossorigin="anonymous"></script>
  <script src="/js/jquery/jquery.min.js"></script>
  <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- /core JS files -->

  <!-- Theme JS files -->
  <script src="/js/app.js"></script>
  <script src="/js/slick.js"></script>

  <link rel="stylesheet" href="/css/custom/style.css">

  <title>Login</title>
  <style>
    body {
      overflow: hidden;
      font-family: 'VNF-Futura';
    }

    .title {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      font-size: 30px;
      background-color: #eeeeee;
      height: 70px;
      align-items: center;
    }

    .title-login {
      font-size: 25px;
    }

    .input_password {
      position: relative;
    }

    .input_password span {
      position: absolute;
      right: 15px;
      top: 75%;
      transform: translateY(-50%);
      font-size: 20px;
      color: black;
      cursor: pointer;
      display: none;
    }

    .input_password input:valid~span {
      display: block;
    }

    .input_password span i.hide-btn::before {
      content: "\f070";
    }
  </style>
</head>

<body>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-7">
        <div class="container px-5 mt-5">
          <div class="title">Thế giới giày da Tâm Anh</div>
          <form id="login-form" action="/user/login" method="POST">
            <div class="card-header">
              <h6 class="my-2 title-login">Đăng nhập</h6>
            </div>

            <div class="card-body">
              <div class="mb-3">
                <label class="form-label">Email:</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="Nhập email đăng ký tài khoản của bạn">
              </div>

              <div class="mb-3 input_password">
                <label class="form-label">Mật khẩu:</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Nhập mật khẩu">
                <span class="show-password">
                  <i class="fa-regular fa-eye"></i>
                </span>
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Đăng nhập<i class="ph-paper-plane-tilt ms-2"></i></button>
              </div>
            </div>
          </form>
          <a href="/" class="my-2" style="display: block;">Quay lại trang chính</a>
          <a href="" class="mb-2" style="display: block;">Quên mật khẩu?</a>
          <p>Bạn chưa có tài khoản? <a href="/user/register">đăng ký</a></p>
        </div>
      </div>
      <div class="col-5 p-0">
        <img src="/images/giayda/img-dangnhap1.jpg" alt="" class="img-fluid w-100 h-100">
      </div>
    </div>
  </div>
  <script>
    const passField = document.querySelector(".input_password input");
    const showBtn = document.querySelector("span i");
    showBtn.onclick = (() => {
      if (passField.type === "password") {
        passField.type = "text";
        showBtn.classList.add("hide-btn");
      } else {
        passField.type = "password";
        showBtn.classList.remove("hide-btn");
      }
    });
  </script>
  <script>
    document.getElementById('login-form').addEventListener('submit', function(event) {
      event.preventDefault();

      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;

      fetch('/user/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            email,
            password,
          })
        })
        .then(response => response.json())
        .then(data => {
          if (data.token) {
            localStorage.setItem('userToken', data.token);
            localStorage.setItem('userInfo', JSON.stringify(data.user)); // Lưu thông tin người dùng
            alert('Đăng nhập thành công');
            window.location.href = '/';
          } else {
            alert('Đăng nhập thất bại: ' + data.message);
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('Đăng nhập thất bại: Lỗi máy chủ');
        });
    });
  </script>
</body>

</html>