<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>

<body>
  <form id="register-form" action="" method="POST">
    <input type="text" name="phone" placeholder="phone">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Register</button>
  </form>
</body>

</html>